<div class="container">
    <h1>
        Listado de Viajes
    </h1>
    <table>
        <thead>
            <th>Pos.</th>
            <th>Nombre</th>
            <th>Destino</th>
            <th class="right">Duracion (días)</th>
            <th class="right">Plazas</th>
            <th class="right">Precio</th>
            <th>Tipo de Viaje</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th class="center">En oferta</th>
            <th>Opciones</th>
        </thead>
        <ng-container *ngFor="let viaje of viajes; let idx = index;">
            <tr [ngClass]="{'en-oferta': viaje.enOferta}">
                <td>{{idx + 1}}</td>
                <td>{{viaje.nombre}}</td>
                <td>{{viaje.destino}}</td>
                <td class="right">{{viaje.duracion}}</td>
                <td class="right">{{viaje.plazas}}</td>
                <td>{{viaje.precio | currency:'':'symbol':'1.0-0'}}</td>
                <td>{{viaje.tipoDeViajeId | tipoDeViaje}}</td>
                <td>{{viaje.estado}}</td>
                <td>{{viaje.fechaSalida | date: 'fullDate'}}</td>
                <td class="center">
                    <i class="fas" [ngClass]="viaje.enOferta ? 'fa-check' : ''"></i>
                </td>
                <td>
                    <i class="fa fa-trash in-red" title="Eliminar Viaje" (click)="borrar.emit(viaje.id)"></i>
                    <i class="far fa-edit" title="Editar Viaje" (click)="editar.emit(viaje.id)"></i>
                </td>
            </tr>
        </ng-container>
    </table>
</div>